.content {
    background-color: rgba(0,0,0,0.8);
    padding: 2%;
}

.leftimg {
    float:left;
    margin: 7px 7px 7px 0;
}

#about_description {
    font-size: 25px;
    text-align: justify;
    color: darkorange;
    margin-bottom: 15px;
}

#about_history {
    font-size: 25px;
    text-align: justify;
    color: darkorange;
    margin-bottom: 15px;
}

#headline {
    font-size: 35px;
    text-align: justify;
    color: darkorange;
}