.news-img {
    border-radius: .25rem;    
    width:400px;
    height: auto;    
}
.img-left {
    float: left;
    margin-right: 20px;
}

.img-right {
    float: right;
    margin-left: 20px;
}

#about_description {
    margin-top: -30px;
}