.content {
    background-color: #fff;
    min-height: 770px;
    position: relative;
    padding: 2%;
}

.text {
    text-indent: 20px;
    text-align: justify;
    color: darkslategrey;
}

.authors {
    position: absolute;
    right: 20px;
    bottom: 5px;
}