#side_container {
    background-color: rgba(0,0,0,1);
    height: 100%;
    width: 19%;   
    float: left;
    padding: 1%;
    position: fixed;
    z-index: 10;
}

#menu_button {
    width: 0;
    margin-right: 5%;
    float: right;
    position: relative;
    top: 0px;
}

#menu_button image{
    height: 50px;
    width: 50px;
}

#logotype{
    margin: 0% 0% 5% 0%;
}

#logotype a img {
    width: 100%;    
}

#navigation_menu {   
    margin-bottom: 5%;
}

#product_list {
    width: 100%;
}

#registration_menu input {
    width: 100%;
    margin-top: 1%;
    margin-bottom: 1%;
}

.my-btn {
    width: 100%;
    margin-top: 5%;
    text-indent: 0px;
}

.my-leng {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.navbar-collapse {
    padding: 0;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
}

.navbar-nav > li {
    float: left;
    width: 100%;
}

.navbar-nav > li > a{
    padding: 10px;
}

.list.navbar-nav > li {
    float: left;
}

.list.navbar-nav > li > a {
    padding: 2px;
    padding-left: 35px;
}

footer {
    width: 89%;
    margin-bottom: 5%;
    color: #3c763d;
    position: absolute;
    bottom: 0;
}