.news_header {
    width: 100%;
    color:darkorange;
    font-size: 30px;
    text-align:center;
}

.news-text {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.news_text_header {
    color:darkorange;
    width:100%;
}

.news-img {
    border-radius: .25rem;
    width:700px;
    height: auto;
}

.news-content {
    padding-left: 10px;
    padding-right: 10px;
}
.preview {
    padding-bottom: 30px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}