.user_content {
    color:darkorange;
    width: 100%;
}

.login {
    font-size: 25px;
}

.request {
    width: 100%;
    color:darkorange;
    font-size: 30px;
    margin-top: 48%;
}

.request_owner {
    width: 100%;
    font-size: 25px;
}

.request_text {
    width: 100%;
    font-size: 20px;
}

.request_data {
    width: 100%;
    text-align:right;
    font-size: 15px;
}

#avatar {
    float: left;
    width: 30%;
}

#avatar img {
    width: 100%;
}

.user_information {
    float:right;
    padding-left:40px;
    width: 60%;
    margin-bottom: 40px;
}

.user_information p{
    padding-bottom: 20px;
    border-bottom: 1px solid #eee;
}

#table_column_first {
    width:200px;
    padding-left:5px;
}

#table_column_second {
    width:75%;
    padding-left:5px;
}

#table_column_third {
    border:0px;
    color:black;
}

#user_description {
    margin-top: -30px;
}

.profile-button {
    margin-top: 5%;
    margin-left -4%;
    text-indent: 0px;
}




