body {
    padding: 0% 10% 1% 10%;
    background-image: url("../images/background.jpg");
    background-size: 100%;
    background-attachment: fixed;
}

.body-content {    
    width: 77%;
    float: right;
}

.news-img {
    width: 250px;
    height: 150px;
}

.news-date {   
    float: right;
}
.news-btn {
    text-indent: 0px;
    float: left;
    width: 35%;
    margin-top: 0%;
}
.news-footer {
    width: 65%;
    left: 290px;
    position: absolute;
    bottom: 20px;
}
.pager-btn-left {
    text-indent: 0px;
    float: left;
}
.pager-btn-right {
    text-indent: 0px;
    float: right;
}

.input-label {
    font-weight:lighter;
}

.input-field {
    width: 100%;
    max-width: none;
}

.modal-body div{
    margin-bottom: 10px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 280px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"]
{
    width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none
  }
}
