@{
    ViewData["Title"] = "About";
}
<div id="about">
    <h1>О нас</h1>
    <p>
        <img src="~/images/office_250x167.jpg" class="leftimg" />
        Компания «Bad Boys Boating», основанная в 1998 году, занимает лидирующие позиции в яхтенном сегменте рынка Российской Федерации.
    </p>
    <p>
        «Bad Boys Boating» является эксклюзивным и официальным представителем на территорию РФ известных мировых яхтенных брендов:
    </p>
    <p>
        - концерн Ferretti Group. включающий в себя верфи Ferretti Yachts, Pershing, Riva, Mochi Craft, Custom Line, CRN (Италия);
    </p>
    <p>
        - верфь Sessa Marine (Италия);
    </p>
    <p>
        - верфь Apreamare (Италия);
    </p>
    <p>
        - верфь Boston Whaler (Америка);
    </p>
    <p>
        - верфь Chris-Craft (Америка);
    </p>
    <p>
        - верфь Williams Tenders (Англия).
    </p>
    <p>
        Индивидуальный подход, как к потенциальному владельцу яхты, так и к уже состоявшемуся владельцу – все это опыт, знания и возможности компании «Bad Boys Boating».
    </p>
</div>

<div id="about">
    <h1>История</h1>
    <p>В 1969 году два молодых предприимчивых студента Александр Юндин и Величко Михаил положили начало своему первому бизнесу - чартеру яхт. Амбиции и любовь к морю простирались дальше и шире первых начинаний и следующим шагом стала дистрибуция брендовых яхт на территории Италии. Но почти сразу, в 1970, Михаил и Александр сделали главный шаг - кроме услуг и соглашения по дистрибуции они предложил проектирование новых моделей своей студией. Объединив усилия с Amerglass, они решились на рискованное предприятие и построили первую моторную лодку для массового производства с корпусом из стекловолокна - AZ 43 Bali. Это принесло мгновенный успех. Компания стремительно развивалась и в 70-х и начале 80-х сконцентрировалась на двух крайних сегментах - самых небольших и, напротив, длинномерных моторных яхтах. Запустив в 1977 Azimut 32 Targa и спустя пять лет Azimut 105 Failaka в 1982, компания сделала два этих события знаковыми для всех остальных игроков рынка. Первый шаг - одна из самых успешных малоразмерных яхт, привлекший внимание новых покупателей, второй - самая крупная серийная яхта из стекловолокна - это вошло в учебники.</p>

    <p>В 1985 году Azimut, будучи уже известной яхтостроительной верфью, приобретает куда более именитую и легендарную верфь Benetti, чья история началась в далеком 1873 и чьей специализацией всегда были супер-яхты. Паоло Вителли и единомышленникам удалось вдохнуть новые идеи, впитав столетние традиции и опыт предшественников. Все то, что сейчас воспринимается как данность и неотъемлемая часть современной яхты в то время случилось благодаря инновационным решениям Azimut-Benetti - большие безрамные оконные конструкции, электроприводные сиденья, отделка и ключевой подход к оформлению кают - это все революции, вышедшие из под руки Паоло Вителли.</p>

    <p>С конца девяностых, с приобретением новых верфей в Фано, реконструкцией завода Benetti в Виареджио, а также строительством новых верфей в окрестностях Турина в Авильяна, группа Azimut-Benetti вышла в группу лидеров в строительстве яхт и мегаяхт. Многолетняя репутация, постоянный поиск, инновационность, развитие и инвестиции в бизнес, наращивание производственных мощностей, оптимизация производства и, наконец, самый требовательный производственный контроль и творческая самоотдача уже не первый сезон к ряду удерживают компанию на самых высоких позициях среди производителей яхт люксовой категории.</p>
</div>
