@{
    ViewData["Title"] = "Profile";
}
<div>
    <h2>Ваша информация</h2>
</div>
<div id="profile">
    <a asp-area="" asp-controller="User" asp-action="Bids">Заявки</a>
    <a asp-area="" asp-controller="User" asp-action="Products">Мои предложения</a>
</div>