@{
    ViewData["Title"] = "Profile";
}
@model AccountViewModel
<div>
    <h2>Ваша информация</h2>
</div>
<div id="profile">
    <p> Имя: @Model.Username</p>
    <p>
        Текущий статус: 
        @if (Model.Status)
        {
            <p>Активен</p>
        }
        else
        {
            <p>Заблокирован</p>
        }
    </p>
    <p> 
        Логин: @Model.Login
    </p>
    <p>Тип аккаунта: @Model.AccountType</p>
    <p>Адресс: @Model.Email</p>
    <a asp-area="" class="btn btn-primary" asp-controller="User" asp-action="Bids" asp-route-[recalls_type]="outbox">Исходящие заявки</a>
    @if (Model.AccountType.Equals("customer"))
    {
        <a asp-area="" class="btn btn-primary" asp-controller="Boat" asp-action="Add">Добавить судно</a>
        <a asp-area="" class="btn btn-primary" asp-controller="User" asp-action="Bids" asp-route-[recalls_type]="inbox">Входящие заявки</a>
        <a asp-area="" class="btn btn-primary" asp-controller="User" asp-action="Products">Мои предложения</a>
    }   
</div>