@{
    ViewData["Title"] = "Products";
}
@model List<BoatCollectionViewModel>
<div>
    <h2>Ваши предложения</h2>
</div>
<div id="products">
    <ul class="thumbnails">
        @foreach (BoatCollectionViewModel item in Model)
        {
            <li class="span4">
                <div class="thumbnail">
                    <img src="data:image;base64,@Convert.ToBase64String(item.Image)" alt="">
                    <h3>@item.BoatModel</h3>
                    <p>@item.Discription</p>
                    <a class="btn btn-primary" asp-controller="Boat" asp-action="Edit" asp-route-id="@item.Id">Редактировать</a>
                </div>
            </li>
        }
    </ul>
</div>